*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/apikey.txt
app/src/main/assets/apikey-decrypted.txt
app/src/main/java/id/co/npad93/pm/t7/ApiTokenDecrypter.java
